---

---

<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" id="navbar">
        <div class="container-fluid">
            <!-- Logo y botón hamburguesa -->
            <a class="navbar-brand fs-1 ms-3" id="headerlogo" onclick="location.href='/'" style="cursor:pointer">Mercedes Varela</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="row w-100 align-items-center">
                    <div class="col-md-4 d-none d-md-block"></div>
                    <div class="col-12 col-md-8">
                        <ul class="nav justify-content-md-end justify-content-center w-100">
                            <li class="nav-item flex-fill text-center">
                                <a class="nav-link text-dark fs-5" href="#about">Sobre mí</a>
                            </li>
                            <li class="nav-item flex-fill text-center">
                                <a class="nav-link text-dark fs-5" href="#servicios">Servicios</a>
                            </li>
                            <li class="nav-item flex-fill text-center">
                                <a class="nav-link text-dark fs-5" href="#galeria">Galería</a>
                            </li>
                            <li class="nav-item flex-fill text-center">
                                <a class="nav-link text-dark fs-5" href="#contact">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


<style>
    #headerlogo {
        cursor: pointer;
    }
    .navbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

</style>